<nav class="navbar navbar-expand-lg navbar-dark bg-dark m-auto ">
  <a class="navbar-brand ml-5" routerLink="/product">Market</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse ml-5" id="navbarNavAltMarkup">
    <div class="navbar-nav ">
      <a class="nav-item nav-link active" routerLink="/product">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/cart">Cart</a>
      <a class="nav-item nav-link" routerLink="/admin">Admin</a>

    </div>
  </div>
</nav>
